@import "tailwindcss";

@theme {
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    --animate-spin-once: spin 0.5s;
}

@layer base {
    :root {
        --color-bkg: rgb(235, 235, 235);
        --color-bkg2: rgb(219, 215, 210);
        --color-bkg3: rgb(182, 175, 167);
        --color-divide: rgb(229, 234, 235);
        --color-content: rgb(44, 44, 44);
        --color-darkmodeicon: rgb(255, 222, 89);
        --color-accent1: rgb(200, 70, 70);
        --color-accent2: rgb(51, 149, 215);
    }

    :root [data-theme="dark"] {
        --color-bkg: rgb(44, 44, 44);
        --color-bkg2: rgb(77, 77, 77);
        --color-bkg3: rgb(110, 110, 110);
        --color-divide: rgb(107, 114, 128);
        --color-content: rgb(235, 235, 235);
        --color-darkmodeicon: rgb(235, 235, 235);
        --color-accent1: rgb(200, 70, 70);
        --color-accent2: rgb(51, 149, 215);
    }
}

@layer utilities {
    .bg-bkg {
        @apply bg-[var(--color-bkg)];
    }
    .bg-bkg2 {
        @apply bg-[var(--color-bkg2)];
    }
    .bg-bkg3 {
        @apply bg-[var(--color-bkg3)];
    }
    .text-content {
        @apply text-[var(--color-content)];
    }
    .text-darkmodeicon {
        @apply text-[var(--color-darkmodeicon)];
    }
    .bg-accent {
        @apply bg-[var(--color-accent1)];
    }
    .bg-accent-2 {
        @apply bg-[var(--color-accent2)];
    }
    .hover\:bg-accent-2:hover {
        @apply bg-[var(--color-accent2)] font-medium transition-colors duration-200;
    }
    .divide-custom > :not([hidden]) {
        @apply border-t border-[var(--color-divide)];
    }
    .divide-custom > :not([hidden]):first-child {
        @apply border-t-0;
    }
}